@model PersonalData
@{
    ViewData["Title"] = "Карточка сотрудника";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Запросить изменение личных данных
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div style="max-width: 696px;" class="modal-dialog" role="document">
        <form id="form" asp-action="Index" asp-controller="Home" asp-antiforgery="true">
            <div class="modal-content">
                <div style="align-self: center;" class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ЗАПРОС НА ИЗМЕНЕНИЕ ЛИЧНЫХ ДАННЫХ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">
                            <label asp-for="DivisionId" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select class="form-control" asp-for="DivisionId" asp-items="ViewBag.Divisions"></select>
                                <span asp-validation-for="DivisionId"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label asp-for="PositionId" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select class="form-control" asp-for="PositionId" asp-items="ViewBag.Positions"></select>
                                <span asp-validation-for="PositionId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PhoneNumberFirst" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="PhoneNumberFirst" />
                                <span asp-validation-for="PhoneNumberFirst"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PhoneNumberSecond" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="PhoneNumberSecond" />
                                <span asp-validation-for="PhoneNumberSecond"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="OfficeAddress" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input class="form-control" asp-for="OfficeAddress" />
                                <span asp-validation-for="OfficeAddress"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Cabinet" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" asp-for="Cabinet" />
                                <span asp-validation-for="Cabinet"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Comment" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" asp-for="Comment"></textarea>
                                <span asp-validation-for="Comment"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="submit" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{

<script src="~/lib/jquery-validation/dist/jquery.validate.js?v.1"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js?v.1"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
<script>
    $('#PhoneNumberFirst').mask('+7 (999) 999 99 99');
    $('#PhoneNumberSecond').mask('+7 (999) 999 99 99');
    // (function ($) {
    //    var $jQval = $.validator;
    //    $jQval.addMethod('iseven', function (value, element, params) {
    //        debugger;
    //        if (!value) {
    //            return true;
    //        }
    //        value = parseFloat($.trim(value));
    //        if (!value) {
    //            return true;
    //        }
    //        var isEven = (value % 2) === 0;
    //        return isEven;
    //    });

    //    var adapters = $jQval.unobtrusive.adapters;
    //    adapters.addBool('iseven');
    //})(jQuery);
    //$('#submit').click(function () {

    //    //if ($('#PhoneNumberFirst').val == ($('#PhoneNumberSecond').val)) {
    //    //    alert('Номера одинаковы');
    //    //    $('#PhoneNumberSecond').append("<span class=test>Телефоны должны различаться</span>");
    //    //    /*$('#PhoneNumberSecond-error').val*/
    //    //    return;
    //    //}
    //    debugger;

    //    $('#form').submit();
    //});

    //$('#PhoneNumberSecond').val.change(function () {
    //    alert("dsadsa");
    //    if ($('#PhoneNumberFirst').val == ($('#PhoneNumberSecond').val)) {
    //        $('#PhoneNumberSecond').append("<span class=test>Телефоны должны различаться</span>");
    //    }
    //    else {
    //        $('.test').remove();
    //    }
    //});
    //$('#PhoneNumberFirst').change(function () {
    //    alert("dsadsa");
    //    if ($('#PhoneNumberFirst').val == ($('#PhoneNumberSecond').val)) {
    //        $('#PhoneNumberSecond').append("<span class=test>Телефоны должны различаться</span>");
    //    }
    //    else {
    //        $('.test').remove();
    //    }
    //});
</script>
}

