@model PersonalData
@{
    ViewData["Title"] = "Карточка сотрудника";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Запросить изменение личных данных
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div style="max-width: 696px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="align-self: center;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ЗАПРОС НА ИЗМЕНЕНИЕ ЛИЧНЫХ ДАННЫХ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="align-self: center;" class="modal-body">
                <form id="form" asp-action="Index" asp-controller="Home" asp-antiforgery="true">
                    <div>
                        <div class="form-group row">
                            <label asp-for="DivisionId"></label>
                            <select class="form-control" asp-for="DivisionId" asp-items="ViewBag.Divisions"></select>
                            <span asp-validation-for="DivisionId"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" asp-for="PositionId"></label>
                            <select asp-for="PositionId" asp-items="ViewBag.Positions"></select>
                            <div class="col-sm-10">
                                <span asp-validation-for="PositionId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumberFirst"></label>
                            <input asp-for="PhoneNumberFirst" />
                            <span asp-validation-for="PhoneNumberFirst"></span>
                        </div>
                        <div>
                            <label asp-for="PhoneNumberSecond"></label>
                            <input asp-for="PhoneNumberSecond" />
                            <span asp-validation-for="PhoneNumberSecond"></span>
                        </div>
                        <div>
                            <label asp-for="OfficeAddress"></label>
                            <input asp-for="OfficeAddress" />
                            <span asp-validation-for="OfficeAddress"></span>
                        </div>
                        <div>
                            <label asp-for="Cabinet"></label>
                            <input asp-for="Cabinet" />
                            <span asp-validation-for="Cabinet"></span>
                        </div>
                        <div>
                            <label asp-for="Comment"></label>
                            <input asp-for="Comment" />
                            <span style="color:red;" asp-validation-for="Comment"></span>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submit" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*<div id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div  class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="align-self: center;" class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ЗАПРОС НА ИЗМЕНЕНИЕ ЛИЧНЫХ ДАННЫХ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div  class="modal-body">
                    <form id="form" asp-action="Index" asp-controller="Home" asp-antiforgery="true">
                        <div>
                            <div>
                                <label asp-for="DivisionId"></label>
                                <select asp-for="DivisionId" asp-items="ViewBag.Divisions"></select>
                                <span asp-validation-for="DivisionId"></span>
                            </div>
                            <div>
                                <label asp-for="PositionId"></label>
                                <select asp-for="PositionId" asp-items="ViewBag.Positions"></select>
                                <span asp-validation-for="PositionId"></span>
                            </div>
                            <div>
                                <label asp-for="PhoneNumberFirst"></label>
                                <input asp-for="PhoneNumberFirst" />
                                <span asp-validation-for="PhoneNumberFirst"></span>
                            </div>
                            <div>
                                <label asp-for="PhoneNumberSecond"></label>
                                <input asp-for="PhoneNumberSecond" />
                                <span asp-validation-for="PhoneNumberSecond"></span>
                            </div>
                            <div>
                                <label asp-for="OfficeAddress"></label>
                                <input asp-for="OfficeAddress" />
                                <span asp-validation-for="OfficeAddress"></span>
                            </div>
                            <div>
                                <label asp-for="Cabinet"></label>
                                <input asp-for="Cabinet" />
                                <span asp-validation-for="Cabinet"></span>
                            </div>
                            <div>
                                <label asp-for="Comment"></label>
                                <input asp-for="Comment" />
                                <span style="color:red;" asp-validation-for="Comment"></span>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script>
        $('#PhoneNumberFirst').mask('+7 (999) 999 99 99');
        $('#PhoneNumberSecond').mask('+7 (999) 999 99 99');
        $('#submit').click(function () {

            if ($('#PhoneNumberFirst').val == ($('#PhoneNumberSecond').val)) {
                alert();
            }
        })
    </script>
}





<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Отправить запрос на изменение личных данных
</button>-->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog window" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ЗАПРОС НА ИЗМЕНЕНИЕ ЛИЧНЫХ ДАННЫХ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="window">
    <div class="ms-dlgTitle">
        здесь будет крестик в конце
    </div>
    <div class="card-title">
        ЗАПРОС НА ИЗМЕНЕНИЕ ЛИЧНЫХ ДАННЫХ
    </div>
    <div>
        В данной форме указывайте в строчках только те изменения, которые нужно внести в вашу Личную карточку на корпоративном портале.
    </div>
    <div class="ms-dlgFrameContainer">
        dsadas
    </div>

</div>-->

<style>
    .window {
        width: 738px;
        height: 800px;
    }
</style>
